secp256k1_bench
secp256k1_bench_ecmult
secp256k1_bench_internal
secp256k1_noverify_tests
secp256k1_tests
secp256k1_exhaustive_tests
precompute_ecmult_gen
precompute_ecmult
secp256k1_ctime_tests
secp256k1_ecdsa_example
secp256k1_ecdsa_example
secp256k1_schnorr_example
secp256k1_ellswift_example
secp256k1_musig_example
*.exe
*.so
*.a
*.csv
*.log
*.trs
*.sage.py

Makefile
configure
.libs/
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
conftest*
*.tar.gz
*.la
libtool
.deps/
.dirstamp
*.lo
*.o
*~

coverage/
coverage.html
coverage.*.html
*.gcda
*.gcno
*.gcov

build-aux/ar-lib
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
libsecp256k1.pc

### CMake
/CMakeUserPresets.json
# Default CMake build directory.
/build

### Python
__pycache__/
*.py[oc]
