<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="secp256k1-vc120" target="secp256k1" version = "0.1.0.16" pathversion="0_1_0_16" platformtoolset="v120" />