<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libgmp_vc120" version="5.1.3.2" targetFramework="Native" />
  <package id="openssl" version="1.0.1.24" targetFramework="Native" />
  <package id="openssl.redist" version="1.0.1.24" targetFramework="Native" />
  <package id="zlib" version="1.2.8.6" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.6" targetFramework="Native" />
</packages>