<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="secp256k1_openssl_vc120" target="secp256k1" namespace="secp256k112" version = "0.1.0.1" pathversion="0_1_0_1" platformtoolset="v120">
  <!-- OpenSSL vc120 is not yet packaged for NuGet. -->
  <dependency id="openssl" version="1.0.1.24" />
</package>