name: "FROST: check that the version numbers contained in configure.ac and CMakeLists.txt are consistent with each other, and that the project descriptions end with the same reference to Frost"

on:
  push:
    branches:
      - frost
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  verify-version-and-description-consistency:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: check that the version numbers contained in configure.ac and CMakeLists.txt are consistent with each other, and that the project descriptions end with the same reference to Frost
        id: frost_check_versions_and_descriptions
        run: scripts/verify-version-and-description-consistency.sh
